# Data Science Tools and Ecosystem

# Introduction
In this notebook, data science tools and ecosystem are summarized

## Objectives:
* Popular data science languages
* Common Data Science Libraries
* Data Science Tools
* Examples of arithmetic expressions

Some of the popular languages that data scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by data scientists include:

1. Pandas
2. NumPy
3. Seaborn

|Data Science Tools|
|------------------|
|Apache Spark      |
| R                |
|Python            |

### Below are a few examples of evaluating arithmetic expressions in python:

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result=(3*4)+5
result

17

In [3]:
# This will convert 200 minutes into hours by dividing by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335

## Author:

Lloyd Gunraj